body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .login-page {
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container {
    background-color: #e6e6e6;
  }
  
  .login-content {
    position: relative;
    background-color: #ffffff;
    border-radius: 40px;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    max-width: 580px;
  }

  .login-page .text-wrapper {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0px;
    font-family: "Oswald-Bold", Helvetica;
  }
  .signup-content {
    position: relative;
    background-color: #ffffff;
    border-radius: 40px;
    padding: 20px;
    box-sizing: border-box;
    width: 480px;
    max-width: 580px;
  }
  
  .login-page .element-removebg-preview {
    border-radius: 8px;
    width: 58px;
    height: 56px;
    transform: translateX(-50%);
    object-fit: cover;
    margin-bottom: 20px;
    padding-left: 100%;
    }
  
  .searchbar {
    text-align: center;
    font-family: "Oswald-Bold", Helvetica;
    font-weight: 100;
    color: #000000;
    font-size: 17px;
    margin-top: 25px;
    width: 200px;
    border-radius: 8px;
    border: none;
    padding: 1%;
    background: rgba(217, 217, 217, 0.20);
  }
  
  .buttonss-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    text-align: center; 
  }

  .button-signin,
  .button-signup{
    position: relative;
    cursor: pointer;
    border: none;
    outline: none;
    width:fit-content;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 15px;
  }
  
  .button-signin {
    background-color: #7ac2ff;
    color: #000000;
  }
  
  .button-signin .div {
    font-family: "Noto Sans-Bold", Helvetica;
    font-weight: 700;
  }
  
  .button-signup,
  .text-wrapper-4 {
    font-family: "Inder-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
  }
  
  .div-wrapper,
  .overlap-2,
  .input-email,
  .input-password {
    background-color: #ffffff;
    border-radius: 7px;
    border: 1px solid #000000;
    margin-top: 13px;
    text-align: center;
    outline: none;
    display: flex; /* Use flexbox */
    align-items: center; /* Center vertically */
    justify-content: center;
  }

  .input-email,
  .input-password {
    font-size: 15px;
    border: none;
    margin-bottom: 10px;
    width: 100%; /* Make sure the input takes the full width */
  }
  
  .text-wrapper-2,
  .text-wrapper-3 {
    font-family: "Noto Sans-Regular", Helvetica;
    font-weight: 400;
    color: #00000099;
    font-size: 15px;
  }
  
  .eye {
    width: 16px;
    height: 15px;
  }
  
  .line,
  .img {
    width: 118px;
    height: 1px;
    margin-top: 20px;
  }
  
  .text-wrapper-4 {
    font-size: 15px;
    color: #0000009e;
    margin-top: 20px;
  }
  
  .button-google,
  .button-facebook {
    background-color: #ebebeb;
    border-radius: 8px;
    margin-top: 20px;
  }
  
  .text-wrapper-5,
  .text-wrapper-6 {
    font-family: "Inder-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 13px;
    white-space: nowrap;
  }
  
  .icon-google-icon,
  .icon-facebook {
    width: 13px;
    height: 13px;
  }
  
  .icon-google-icon {
    margin-right: 10px;
  }
  
  .text-wrapper-6,
  .icon-facebook {
    margin-right: 10px;
  }
   

  .buttons-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .facebook-button,
  .google-button {
    position: relative;
    background: #EBEBEB;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 5px 50px; /* Adjust padding as needed */
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .text-wrapper-4 {
    font-family: "Inder-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 13px;
    margin: 0 10px; /* Adjust margin as needed */
  }
  
  .home-page {
    padding: 2%;
    background-color: #e6e6e6;
    display: flex;
    height: 93vh;
    justify-content: center;
  }

  .menu {
    background: #EBEBEB;
    border-radius: 8px;
    border: none;
    height: 100%;    
    width: 250px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    position: relative;
  }

  .submenu {
    border-radius: 8px;
    margin-top: 25px;
    padding: 20px 20px;
  }

  .submenu-title {
    font-size: 17px;
    font-weight: 600;
    padding-bottom: 15px;
  }

  .overlap-group {
    padding-top: 10px;
  }

  .submenu-2 {
    position: absolute;
    bottom: 20px;
    left: 10px;
  }
  .menu2 {
    background: #EBEBEB;
    border-radius: 8px;
    border: none;
    height: 100%;    
    width: 70vw;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    position: relative;
    margin-left: 25px;
  }
  
  .submenu2 {
    background-color: #c0c0c0;
    border-radius: 8px;
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 20px 5px;
    height: 100%;
  }
  
  .welcome {
    text-align: center;
    margin-top: 15%;
  }
  
  .paragraphHomePage {
    text-align: justify;
    padding: 100px;
  }
  
  .buttonGoToTask {
    background: #59a6e9;
    border-radius: 8px;
    border: none;
    height: 40px;
    width: 150px;
    text-align: center;
    font-size: 20px;
    color: white;
    margin: auto;
    display: block;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .buttonGoToTask:active {
    background-color: #1f618d; /* Tıklama anındaki rengi */
  }
  .type-button,
  .clickable-button {
    border: unset;
    width: 200px;
    height: 30px;
    text-align: left;
    border-radius: 8px;
    background: rgba(217, 217, 217, 0.20);
    cursor: pointer;
  }

  .text-type {
    padding-left: 10px;
  }

  .text-wrapper-3,
  .text-wrapper-5,
  .text-wrapper-7,
  .text-wrapper-8 {
    font-size: 15px;
    color: #000000;
    text-decoration: none;
  }
  .TaskMaster {
    width: 90%;
    border-radius: 8px;
  }

  .todayMenu {
    background: #EBEBEB;
    border-radius: 8px;
    height: 85%;    
    width: 70vw;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    position: relative;
    margin-left: 25px;
    margin-top: 5%;
    border: 2px solid #000000;
  }

  .today {
    text-align: left;
    margin-top: 2%;
    margin-left: 2.5%;
  }

  .todayAddNewTask {
    border-radius: 8px;
    background-color: #EBEBEB;
    height: 40px;
    width: 95%;
    text-align: center;
    font-size: 20px;
    color: black;
    margin: auto;
    display: flex;
    border: 1px solid #000000;
    text-align: left;
    box-sizing: border-box;
    padding-top: 5px;
  }

  .todayAddNewTask button {
    background-color: #EBEBEB;
    display: flex;
    border: none; /* Remove the border for the button */
    height: 20px;
    align-items: center;
    justify-content: center;
    padding-top: 13px;
    cursor: pointer;
  }

  .todayAddNewTask .plusImg {
    height: 20px;
    border: none;
    align-items: center;
  }

  .todayAddNewTask .task-desc {
    border: none;
    background-color: #EBEBEB;
    padding-left: 1%;
    padding-top: 7px;
    height: 20px;
    outline: none;
  }

  .upperToday {
    padding-left: 15px;
    padding-top: 5px;
  }

  .todayCheckbox{
    margin-left: 3%;
    margin-top: 15px;
    border-bottom: 1px solid black;
    font-size: 20px;
    width: 15px; /* Set the width of the checkbox */
    height: 15px; /* Set the height of the checkbox */
  }

  .search{
    height: 20px;
    vertical-align: middle;
  }

  .upcoming,
  .list,
  .calendar,
  .stickyNote{
    height: 20px;
    vertical-align: middle;
  }